/****************************** TOPO **********************************/
.top {
	width: 100%;
	overflow: hidden;
}

.top-bar {
	width: 100%;
	height: 30px;
	background: #00667f;
}

.logo {
	float: left;
}

.menu {
	float: left;
	margin: 70px 60px 0 0;
}

.menu ul {
	list-style-type: none;
}

.border-blue {
	border-bottom-color: #00aad4 !important;
}

.border-red {
	border-bottom-color: #f00 !important;
}

.border-green {
	border-bottom-color: #5aa02c !important;
}

.menu-separator {
	border-bottom: 3px solid;
	display: block;
	width: 95px;
	margin: 0 auto;
}

.menu ul li {
	text-decoration: none;
	display: inline-block;
}

.menu ul li a {
	padding: 50px;
	font: 18px Tahoma, sans-serif;
	color: #000;
}

.menu ul li a:hover {
	text-decoration: none;
}

.menu ul li a:hover .menu-separator {
	border-bottom-color: #666 !important;
}
