{% extends 'InfocorpIntercursosBundle::layout.html.twig' %}
{% block content %}

  <!-- ULTIMAS NOTICIAS -->
  <section class="last-news">
    <h2 class="news-heading">Ultimas Noticias</h2>
    {% for new in news %}
      {% if loop.first %}
      <div class="special-news">
        <img src="" alt="">
        <a href="{{ path('show_news', { slug: new.slug }) }}">
          <h3>{{ new.title }}</h3>
        </a>
      </div>

    <ul class="news-list">
    {% else %}
      <li><a href="{{ path('show_news', { slug: new.slug }) }}">{{ new.title }}</a></li>
    {% endif %}
  {% endfor %}
    </ul>
  </section>
  <!-- ULTIMAS NOTICIAS -->
{% endblock %}